

/* s222222 categoery */
#s2 .pname {
    margin-left: 40px;
    color:  white;
}
#s2 a{
    text-decoration:  none !important;
}
#s2 {

    background-color: cornflowerblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}
