<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="base::Layout(~{::section})">
	
	


<section id="s2">
    <link rel="stylesheet" href="login.css">
	
    <div class="container"><br>
        <div class="row">
            <div class="col-sm-7">
                <img src="logo.png" class="img-circle" width="100%" height="450px" alt="Logo">
            </div>

            <div class="col-sm-5"><br>
                <div class="login-form">
                    <form action="/login" method="post">
                        <div class="login-head">
                            <center><h3><i>Login</i></h3></center>
							
							<div th:if="${param.error}" class="alert alert-danger text-center">
							    [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
							
							</div>

							<div th:if="${param.logout}" class="alert alert-success">
							    Logout
							</div>

							
                        </div>
						<div class="loin-body">
							<div class="form-group">
							     <label>Email</label>
					             <input type="email" class="form-control" name="username" required>
				             </div>
							      <div class="form-group">
							      <label>Password</label>
				                 <input type="password" class="form-control" name="password" required>
				            </div>
						</div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
					<div class="login-footer">
				<center>
					<a href="/forgot_pas">Forget Password</a><br>
									Don't have an account? <a href="/register">Creat now</a>
				</center>
						
					</div>
                </div>
            </div>

        </div>
    </div>
</section>

</div>
</html>


